*{
    margin: 0;
    padding: 0;
    color: red;
}


.header{
    background-color: rgb(11, 12, 11);
    padding: 10px 50px;
    text-decoration: none;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
}

.header .container nav h1{
    color: rgb(226, 16, 16);
    
}

.header .container .nav h1{
    align-items: center;
}
.header .container .nav_links li {
    display: inline-block;
    color:  wheat;
    text-decoration: none;
    padding:  20px 30px;
    transform: .4s;
}
.header .container.nav_links Link:hover{
    background: red;
    color: white;
}
